<div class="controls">
    <div class="searchContainer">
        <label for="searchBox" aria-label="Search">
            <span class="srt">Search</span>
            <input id="searchBox" class="searchBox" placeholder="Search" type="text">
        </label>
    </div>
    <label id="listFilter" class="filterLabel">
        <span class="srt">Filter Graveyard List</span>
        <select class="filterSelect" id="filter-select">
            <option value="all">All ({{ site.data.graveyard | size }})</option>
            <option value="official">Official ({{ site.data.graveyard | where: "type", "official" | size }})</option>
            <option value="community">Community ({{ site.data.graveyard | where: "type", "community" | size }})</option>
        </select>
    </label>
</div>
