<footer class="footerContainer">
    <div class="flexWrap">
        <div>
            This site was built with love & care. Come submit a wiki <a href="https://github.com/whostacking/brickindex" target="_blank" rel="noopener noreferrer">here</a>
        </div>
        <div class="copyNotice">
            <a href="https://github.com/whostacking/brickindex/blob/main/LICENSE">
                &copy; {{ "now" | date: "%Y" }} whostacking.
            </a>
        </div>
        <div class="socialWrapper">
            <a href="https://twitter.com/brickindex" class="socialLink" target="_blank" rel="noopener noreferrer">
                <img class="socialImage" width="24px" height="24px" src="{{ '/assets/images/twitter.svg' | relative_url }}" alt="Twitter">
            </a>
            <a href="https://github.com/whostacking/brickindex" class="socialLink" target="_blank" rel="noopener noreferrer">
                <img class="socialImage" width="24px" height="24px" src="{{ '/assets/images/github.svg' | relative_url }}" alt="GitHub">
            </a>
        </div>
    </div>
</footer>
